<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Github Recommend | Content</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
 
  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>githubId = {{ github.id }}</script>
  <script src="/static/assets/js/script_content.js" defer></script>

<!--  =======================================================
  * Template Name: UpConstruction
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/assets/img/logo.png" alt=""> -->
        <h1>GithubRecommend<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections">Collections</a></li>
          {% if user %}
          <li class="dropdown"><span>{{ user.username }}</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            <ul>
              <li><a href="/profile">profile</a></li>
              <li><a href="/auth/logout">logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/auth">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/home/home1.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Content</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Content Page</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">
    
        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(/static/assets/img/home/vertical1.png);" data-aos="zoom-in" data-aos-delay="100"></div>
    
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="display: flex;">
                {{ github.name }}
                <div style="margin-left:20px;" class="collect_star" data-rating="{{is_collect}}">
                    <i class="bi bi-star-fill"></i> 
                </div>
            </h3>
            <p>{{ github.introduction }}</p>

            <div class="star" data-rating="{{rating}}">
                <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"> </i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
            </div>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="fa-solid fa-link flex-shrink-0"></i>
              <div>
                <h4><a href="{{github.link}}" class="stretched-link">Link</a></h4>
                <p>{{ github.link }}</p>
              </div>
            </div><!-- End Icon Box -->
    
            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="fa-solid fa-code flex-shrink-0"></i>
              <div>
                <h4>Language</h4>
                <p>{{ github.language }}</p>
              </div>
            </div><!-- End Icon Box -->
    
            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-star flex-shrink-0"></i>
              <div>
                <h4>Stars</h4>
                <p>{{ github.stars }}</p>
              </div>
            </div><!-- End Icon Box -->
    
            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="fa-solid fa-code-fork flex-shrink-0"></i>
              <div>
                <h4>Forks</h4>
                <p>{{ github.forks }}</p>
              </div>
            </div><!-- End Icon Box -->
    
          </div>
        </div>
    
      </div>
    </section><!-- End Alt Services Section -->
	<!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials section-bg">
	  <div class="container" data-aos="fade-up">
	
	    <div class="section-header">
	      <h2>相似仓库推荐</h2>
	      <!-- <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p> -->
	    </div>
        {% if recommend %}
	    <div class="slides-2 swiper">
	      <div class="swiper-wrapper">
            {% for github in recommend %}
	        <div class="swiper-slide">
	          <div class="testimonial-wrap">
	            <div class="testimonial-item">
	              <h3>{{ github.name }}</h3>
	              <p>
	                <i class="bi bi-quote quote-icon-left"></i>
	                {{ github.introduction }}
	                <i class="bi bi-quote quote-icon-right"></i>
	              </p>
                  <a href="/content?id={{github.id}}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
	            </div>
	          </div>
	        </div><!-- End testimonial item -->
            {% endfor %}
	      </div>
	      <div class="swiper-pagination"></div>
	    </div>
        {% endif %}
	  </div>
	</section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

 
  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
  
<style>
	.star i {
	  color: #e6e6e6;
	  font-size: 20px;
	  cursor: pointer;
	  transition: color 0.2s ease;
	}
	.star i.active {
	  color: #ffd565;
	}
	
    .collect_star i {
	  color: #e6e6e6;
	  font-size: 20px;
	  cursor: pointer;
	  transition: color 0.2s ease;
	}
	.collect_star i.active {
	  color: #ffd565;
	}
</style>
</body>

</html>